.skillset {
    padding: 0 0 50px 0;
    position: relative;
    width: 100%;
    margin-bottom: 10%;
}

    .skillset-bx {
    padding: 30px;
    margin-top: -30px;
    text-align: center;
    }
    
    .skillset h2 {
    font-family: 'Allura', cursive;
    font-size: 75px;
    font-weight: 700;
    color: white;
    text-shadow: 25px 20px 25px black;
   
    }
    
    .skillset h5 {
    font-size: 20px;
    margin-bottom: 10%;
    font-weight: 700;
    font-family: 'Kaushan Script', cursive;
    color: white;
    text-align: center;
    }
    
    
    .item {
    margin: 15px;
    padding: 10px;
    }

    .skillset li {
        font-family: 'Luckiest Guy', cursive;
        color: white;
        text-align: justify;  
    }

    .computer {
        display: inline-flex;
        width: 40%;
        -ms-transform: rotate(20deg);
        transform: rotate(20deg);
}
       