.nav-container{
    width: max-content;
    display: block;
    padding: 0.5rem 1.4rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 2rem;
    transform: translateX(-50%);
    gap: 1rem;
    backdrop-filter: blur(15px);
}

span.title.navbar-brand{
    font-family: 'Meddon', cursive;
    font-size: 3.5rem;
    text-shadow: 15px 10px 15px rgb(17, 17, 17);
    color:#FFF6F9;
    /* background-color: transparent; */
}


a.navbar-link, a.active.navbar-link.nav-link {
    font-family: 'Genos', sans-serif;
    padding: 1.3rem;
    text-decoration: none;
    color: white;
    text-shadow: 25px 20px 25px black;
    font-size: 1.6rem;
    font-weight: 600;
}


a.active.navbar-link.nav-link:hover, a.navbar-link:hover {
    color: rgb(69, 4, 39);
    border-radius: 2rem;
    text-shadow: 15px 10px 15px black;

}

.social-icons svg {
    color: white;
    margin: 15px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
  }

  .social-icons svg:hover{
    color: black;
  }