.footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 25%;
    border-top: 1px solid rgb(236, 228, 237)
}

.footer_social svg {
    color: white;
    margin: 20px;
    font-size: 40px;
    cursor: pointer;
  }
  
  .footer h3 {
    font-family: 'Satisfy', cursive;
    color: white;
  }

  .footer p {
    color: white;
  }
  
  @media only screen and (max-width: 600px) {
    .footer svg {
      font-size: 50px;
    }
}