
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    margin-top: 20%;
}

.intro_words {
    display: inline-block;
    color: white;
    margin-top: 10%;
    text-shadow: 15px 5px 10px rgb(9, 9, 9);
    font-size: 90px;
    font-family: 'Allura', cursive;
}

.typewords {
    display:block;
    font-weight: 550;
    font-size: 35px;
    color:#F0DFD9;
    text-shadow: 5px 5px 10px rgb(9, 9, 9);
    font-family: 'Special Elite', cursive;
}

.mypic{
    width: 200px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid;
    border-image-source: linear-gradient(rgb(34, 32, 33), rgb(74, 6, 42));
    border-image-slice: 30;
    animation: updown 2s linear infinite;
}

@keyframes updown{
    0% {
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(-20px);
    }

}
p { 
    background-color: transparent;
    font-family: 'Lilita One', cursive;
    color:#F0DFD9;
    line-height: 2;
    font-size: 16px;
    text-align: justify;
    border-style: outset;
    
}